In [2]:
import pandas as pd
import os

In [3]:
## Reading the 'interactive_data.csv' file as a pandas dataframe
PATH_IN = './data/'
fname = os.path.join(PATH_IN, 'interactive_data.csv')
df = pd.read_csv(fname, index_col=0)
df.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [4]:
## Note that there are other ways to approach this analysis, the following is one possible correct solution.
## The file 'interactive_data.csv' contains aggregations across different categorical filters.
## Specifically, 'None selected' corresponds to the case when a filter is not applied to a column.
## Thus, such cases correspond to all possible values under that column.
## For example, if all columns have the entry 'None selected', then this corresponds to an aggregation across all entries.
## Thus, the first pre-processing step is to remove rows where at least one column has the value 'None selected'.
df_filtered = df.loc[~(df=='None selected').any(axis=1)]
df_filtered.head(10)

,Intent,Gender,Age,Race,Deaths,Population,Rate
152,Suicide,Female,Under 15,White,19,15355910,0.1
153,Suicide,Female,Under 15,Black,1,4095428,0.0
154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
156,Suicide,Female,Under 15,Other,0,1661877,0.0
158,Suicide,Female,15 - 34,White,539,23942099,2.3
159,Suicide,Female,15 - 34,Black,44,6023846,0.7
160,Suicide,Female,15 - 34,Hispanic,55,8580577,0.6
161,Suicide,Female,15 - 34,Asian/Pacific Islander,14,2535358,0.6
162,Suicide,Female,15 - 34,Other,10,1511400,0.7

In [14]:
all_deaths = df_filtered['Rate'].sum()
print(all_deaths)

all_male_deaths_array = df_filtered[
    (df_filtered["Gender"] == "Male") &
    (df_filtered["Intent"] == "Accident")
    ]
all_male_deaths = all_male_deaths_array["Deaths"].sum()
all_male_deaths

inf

472

## Around a third of all gun deaths are homicides.a

In [16]:
all_deaths = df_filtered["Deaths"].sum()
clemi_homicide = df_filtered[df_filtered["Intent"] == "Homicide"]["Deaths"].sum()

print(f"{clemi_homicide/all_deaths*100}")

34.906980205387704

## Around two-thirds of homicide victims who are males in the age-group of 15--34 are black.

In [18]:
all_male_deaths = df_filtered[
    (df_filtered["Gender"] == "Male") &
    (df_filtered["Intent"] == "Homicide") &
    (df_filtered["Age"] == "15 - 34")
    ]["Deaths"].sum()

black_male_deaths = df_filtered[
    (df_filtered["Gender"] == "Male") &
    (df_filtered["Intent"] == "Homicide") &
    (df_filtered["Age"] == "15 - 34") &
    (df_filtered["Race"] == "Black") 
    ]["Deaths"].sum()

print(f"{black_male_deaths / all_male_deaths * 100}")

66.12482748044778

In [5]:
## Compute #deaths
all_deaths = df_filtered['Deaths'].sum()

## Compute #suicides
suicides = df_filtered[df_filtered['Intent'] == 'Suicide']['Deaths'].sum()
print(f'{suicides/all_deaths*100}% of gun deaths are suicides.')

## Compute #male-suicides
male_suicides = df_filtered[
                    (df_filtered['Intent'] == 'Suicide') & 
                    (df_filtered['Gender'] == 'Male')
                ]['Deaths'].sum()
print(f'{male_suicides/suicides*100}% of suicide victims are male.')

## Compute #homicides
homicides = df_filtered[
                (df_filtered['Intent'] == 'Homicide')
            ]['Deaths'].sum()
print(f'{homicides/all_deaths*100}% of gun deaths are homicides.')

## Compute #young-black-male-homicides
young_black_male_homicides = df_filtered[
                                (df_filtered['Intent'] == 'Homicide') & 
                                (df_filtered['Gender'] == 'Male') & 
                                (df_filtered['Age'] == '15 - 34') & 
                                (df_filtered['Race'] == 'Black')
                            ]['Deaths'].sum()

## Compute #young-male-homicides
young_male_homicides = df_filtered[
                            (df_filtered['Intent'] == 'Homicide') & 
                            (df_filtered['Gender'] == 'Male') & 
                            (df_filtered['Age'] == '15 - 34')
                        ]['Deaths'].sum()
print(f'{young_black_male_homicides/young_male_homicides*100}% of homicide victims who are males in the age-group of 15--34 are black.')

## Compute #women-homicides
women_homicides = df_filtered[
                        (df_filtered['Intent'] == 'Homicide') & 
                        (df_filtered['Gender'] == 'Female')
                    ]['Deaths'].sum()
print(f'Women constitue only {women_homicides/homicides*100}% of the total homicide victims.')

NameError: name 'df_filtered' is not defined

In [15]:
def spam(l, object):
    print(f'{l = }, {object = }')
   
class HomeUnivesity:
    def __init__(self, name: str, members: int) -> None:
        self.name = name
        self.members = members
    
    def printUniversity(self) -> None:
        print(f'The unisversity name is: {self.name}')
        print('The unisversity name is: ' + self.name)
        print('The unisversity name is: {self.name}')
        
    def getName (self) -> str:
        return self.name

    def addMember(self, members = 1) -> int:
        self.members += members
        return self.members
        
        
EPFL = HomeUnivesity("EPFL", 1000)
EPFL.printUniversity()   
print(EPFL.getName()) 
print(EPFL.addMember())

        



eggs_with_bacon = "a" 
ham = ["bacon", "york"]
spam(ham[1], {eggs: 2})

The unisversity name is: EPFL
The unisversity name is: EPFL
The unisversity name is: {self.name}
EPFL
1001
l = 'york', object = {'a': 2}